<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>validation de données</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        body{
            display: flex;
            justify-content: center;
            background: rgb(89, 89, 203);
        }
        h1{
            text-align: center;
        }

        .contener{
            display: flex;
            background: white;
            justify-content: space-around;
            width: 300px;
            height: 400px;
            flex-direction: column;
            border:solid black;
            border-radius: 5%;
        }

        .contener .entrer{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .contenerInscriptionConnexion{
            display: flex ;
            flex-direction: row;
            justify-content: center;
            gap:10px;
            padding-top: 10px;

        }
    </style>
    


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <div class="contener">
        <h1>connexion</h1>
        <form method="post" action="/connexion" autocomplete="off">
            <div class="entrer">


                <label>mail</label>
                <input placeholder="mail" name="mail" type="text">
                
                
                <label>mot de passe</label>
                <input placeholder="mot de passe" name="password" type="password">
            </div>

            <div class="contenerInscriptionConnexion">
                <input type="submit" value="connexion">
                <p>|</p>
                <a href="inscription">inscription</a>
            </div>
        </form>
    </div>
</body>
</html>